ImageHash~=4.3.1
pillow~=10.3.0
opencv-python~=4.10.0.82
numpy~=1.26.4
pip~=22.3.1
pytz~=2024.1
scipy~=1.13.1
matplotlib~=3.9.0
setuptools~=65.5.0
pandas~=2.2.2
python-dateutil~=2.9.0.post0
imageio~=2.34.1
tifffile~=2024.5.22
scikit-image~=0.23.2
packaging~=24.1
lazy_loader~=0.4
networkx~=3.3
six~=1.16.0
contourpy~=1.2.1
fonttools~=4.53.0
pyparsing~=3.1.2
cycler~=0.12.1
kiwisolver~=1.4.5